includes:
	- vendor/21torr/janus/phpstan/lib.neon

# If you use simple-phpunit, you need to uncomment the following line.
# Always make sure to first run simple-phpunit and then PHPStan.
# parameters:
#	bootstrapFiles:
#		- vendor/bin/.phpunit/phpunit/vendor/autoload.php
