includes:
	- vendor/21torr/janus/phpstan/lib.neon

parameters:

# These are temporarily copied here, as normally they should be in the lib.neon of janus.
# However, due to a bug in PHPStan, this currently doesn't work (https://github.com/phpstan/phpstan/issues/12844)
	excludePaths:
		analyse:
			- vendor
		analyseAndScan:
			- node_modules (?)
			- var (?)
			- vendor-bin
