<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
	colors="true"
	bootstrap="vendor/autoload.php"
	cacheDirectory=".phpunit.cache">
	<php>
		<ini name="error_reporting" value="-1" />
		<server name="APP_ENV" value="test" force="true" />
		<server name="SHELL_VERBOSITY" value="-1" />
		<env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=0" />
	</php>
	<testsuites>
		<testsuite name="Bundle tests">
			<directory>tests</directory>
			<exclude>tests/fixtures</exclude>
		</testsuite>
	</testsuites>
</phpunit>
